.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') SIAT | 
      .nav-collapse.collapse

        if(typeof(user) !== 'undefined')
          ul.nav.pull-right
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')= user['name']  
              ul.dropdown-menu
                li
                  a(href='/') Cursos

                if(user.isAdmin == "on") 
                  li.divider
                  li.nav-header Administração
                  li
                    a(href='/admin') Panel administrativo
                // end if admin
                li.divider
                li.nav-header Usuario
                li
                  a(href='#settings') Configurações
                li
                  a(href='/logout') Logout
        else
          ul.nav
            li
              a(href='/cadastro') Cadastro

